html, body {
    height: auto;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      color: #212529;
      background-color: #dce5f2;
}
.link-dark svg {
      color: #8d9dac;
}
.navbar-toggler:focus{
    box-shadow: none;
}